
.container {
    background-color: rgb(221, 221, 14);
    margin-top: 40px;
    width: 30%;
    box-shadow: 20px 30px 20px rgb(114, 114, 12);
    word-wrap: break-word;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-weight: 400;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    padding: 5px;
    border: none;
    text-align: center;
}

input {
    text-align: center;
    border: none;
    outline: none;
    font-style: italic;
    width: 100%;
    background: transparent;
}

.tasks {
    text-align: center;
    border-top: grey 1px solid;
    margin: 5px;
    margin-top: 5%;
}

.deleteIcon {
    float: right;
    padding: 5px;
    color: #c44536;
    cursor: pointer;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
}
.deleteIcon:active {
    transform: translateY(4px);
  }
.number{
    color: #c44536;;
  }